Repository bergercookie/syncall: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-github-workflows, isort, poetry-check

check-github-workflows:
  name: Validate GitHub Workflows
  description: Validate GitHub Workflows against the schema provided by SchemaStore
  entry: check-jsonschema --builtin-schema vendor.github-workflows
  language: python

isort:
  name: Isort check
  entry: isort
  language: system
  pass_filenames: true

poetry-check:
  name: Poetry check
  entry: poetry check
  language: system
  pass_filenames: false

chore(ci): Bump Poetry and Python versions
  .github/workflows/coverage.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
Due: check-github-workflows

chore: Drop EoL versions of Python in CI and pyproject.toml
  .github/workflows/coverage.yml
  .github/workflows/install-software.yml
  .github/workflows/linters.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: check-github-workflows, poetry-check

Update md files + justfile
  CONTRIBUTING.md
  README.md
  justfile
Due: none

fix: Constraint `setuptools` to resolve `pkg_resources` error
  pyproject.toml
Due: poetry-check

feat: Add Dependabot for automatic updates
  .github/dependabot.yml
Due: none

Attempt to make lychee more robust
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

[MISC] Try and make lychee more robust
  .pre-commit-config.yaml
Due: none

obsidian: Initial implementation of synchronization to Obsidian Tasks
  README.md
  docs/readme-md-gtasks.md
  misc/meme-md-gtasks.png
  pyproject.toml
  syncall/cli.py
  syncall/filesystem/markdown_task_item.py
  syncall/filesystem/markdown_tasks_side.py
  syncall/scripts/md_gtasks_sync.py
  syncall/tw_gtasks_utils.py
Due: isort, poetry-check

Path conditions:
  check-github-workflows: any of: ^\.github/workflows/ and \.(yaml|yml)$
  isort: any of: \.py$
  poetry-check: any of: pyproject.toml|poetry.lock
