Repository bergercookie/syncall: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, check-poetry

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v3.2.0"
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: ^test/test_data/sample_items.yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      # - id: check-symlinks
      # - id: pretty-format-json
      # - id: sort-simple-yaml
  - repo: https://github.com/markdownlint/markdownlint
    rev: "v0.11.0"
    hooks:
      - id: markdownlint
        entry: mdl -r ~MD033,~MD013
  - repo: local
    hooks:
      - id: black
        name: Black formatter
        description: "Black: The uncompromising Python code formatter"
        entry: black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]
      # - id: mypy
      #   name: Mypy check
      #   entry: mypy
      #   language: system
      #   pass_filenames: true
      #   types_or: [python, pyi]
      # - id: pyright
      #   name: Pyright check
      #   entry: pyright
      #   language: system
      #   pass_filenames: true
      #   types_or: [python, pyi]
      # - id: Pylint check
      #   name: pylint
      #   entry: pylint
      #   language: system
      #   pass_filenames: true
      #   types: [python]
      #   exclude: ^tests/
      - id: isort
        name: Isort check
        entry: isort
        language: system
        pass_filenames: true
        types: [python]
      - id: check-poetry
        name: Poetry check
        description: Validates the structure of the pyproject.toml file
        entry: poetry check
        language: system
        pass_filenames: false
        files: pyproject.toml
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

Add --caldav-passwd-cmd option
  README.md
  syncall/cli.py
  syncall/scripts/tw_caldav_sync.py
Due: isort

caldav: Satisfy linter, remove redundant comment
  syncall/scripts/tw_caldav_sync.py
Due: isort

Add --caldav-passwd-cmd option (#87)
  README.md
  syncall/cli.py
  syncall/scripts/tw_caldav_sync.py
Due: isort

readme-tw-caldav.md: clarify status property mapping
  readme-tw-caldav.md
Due: none

Fix CalDAV readme referencing nonexisting extra (#84)
  readme-tw-caldav.md
Due: none

Add app_log_to_syslog app helper function
  syncall/app_utils.py
  syncall/scripts/fs_gkeep_sync.py
  syncall/scripts/tw_asana_sync.py
  syncall/scripts/tw_caldav_sync.py
  syncall/scripts/tw_gcal_sync.py
  syncall/scripts/tw_gkeep_sync.py
  syncall/scripts/tw_notion_sync.py
Due: isort

pyproject: use poetry-core instead of poetry
  pyproject.toml
Due: check-poetry

Bump bubop version, use poetry dynamic versioning, downgrade pyyaml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  syncall/__init__.py
  syncall/__version__.py
Due: isort, check-poetry

[gtasks] Add first edition of tw_gtasks_sync integration
  .gitignore
  .pre-commit-config.yaml
  misc/tw_gtasks_sync.gif
  poetry.lock
  pyproject.toml
  readme-tw-gtasks.md
  syncall/__init__.py
  syncall/cli.py
  syncall/google/gtasks_side.py
  syncall/scripts/tw_gtasks_sync.py
  syncall/tw_gtasks_utils.py
  syncall/types.py
  tests/conftest.py
  tests/conftest_gtasks.py
  tests/test_tw_gtasks_conversions.py
Due: isort, check-poetry

[gtasks] Do minor corrections in main README
  README.md
Due: none

Update readme-tw-gtasks.md
  readme-tw-gtasks.md
Due: none

[gtasks] Add gtasks google cloud app JSON config
  readme-tw-gtasks.md
  syncall/res/gcal_client_secret.json
  syncall/res/gtasks_client_secret.json
Due: none

Update poetry.lock
  poetry.lock
Due: none

Do minor readme edits
  readme-tw-gcal.md
  readme-tw-gtasks.md
Due: none

Add tw<>gtasks app logo
  misc/gtasks-logo.png
  misc/meme-tw-gtasks.png
  misc/meme-tw-gtasks.png.svg
  readme-tw-gtasks.md
Due: none

Always assign a taskwarrior duration - default to 1h
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_gcal_utils.py
Due: isort

Create convert_tw_duration_to_timedelta - call it from taskwrrior_side and tw_gcal_utils functions
  syncall/taskwarrior/taskw_duration.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_gcal_utils.py
Due: isort

Add local .task in .gitignore
  .gitignore
Due: none

WIP
  poetry.lock
  pyproject.toml
  syncall/aggregator.py
  syncall/cli.py
  syncall/scripts/tw_caldav_sync.py
  syncall/taskwarrior/taskw_duration.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_gcal_utils.py
Due: isort, check-poetry

Map TW/CalDAV entry/end <-> CREATED/COMPLETED
  readme-tw-caldav.md
  syncall/caldav/caldav_side.py
  syncall/tw_caldav_utils.py
Due: isort

Add .task_backup to .gitignore
  .gitignore
Due: none

caldav: Convert CREATED, COMPLETED fields from vtodo item
  syncall/caldav/caldav_utils.py
Due: isort

Bump item_sync and bubop
  pyproject.toml
Due: check-poetry

Add a --pdb-on-error flag to `tw_caldav_sync`
  .gitignore
  poetry.lock
  pyproject.toml
  syncall/aggregator.py
  syncall/cli.py
  syncall/scripts/tw_caldav_sync.py
  syncall/taskwarrior/taskw_duration.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_gcal_utils.py
Due: isort, check-poetry

caldav: Map TW/CalDAV entry/end <-> CREATED/COMPLETED
  readme-tw-caldav.md
  syncall/caldav/caldav_side.py
  syncall/tw_caldav_utils.py
Due: isort

caldav: Convert CREATED, COMPLETED fields from vtodo item
  .pre-commit-config.yaml
  poetry.lock
  syncall/aggregator.py
  syncall/caldav/caldav_utils.py
  syncall/scripts/tw_caldav_sync.py
  syncall/taskwarrior/taskw_duration.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_gcal_utils.py
Due: isort

Fix unittests
  syncall/taskwarrior/taskw_duration.py
  tests/test_data/sample_items.yaml
  tests/test_tw_caldav_conversions.py
Due: isort

Map TW/CalDAV entry/end <-> CREATED/COMPLETED (#86)
  .pre-commit-config.yaml
  poetry.lock
  readme-tw-caldav.md
  syncall/aggregator.py
  syncall/caldav/caldav_side.py
  syncall/caldav/caldav_utils.py
  syncall/scripts/tw_caldav_sync.py
  syncall/taskwarrior/taskw_duration.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_caldav_utils.py
  syncall/tw_gcal_utils.py
  tests/test_data/sample_items.yaml
  tests/test_tw_caldav_conversions.py
Due: isort

Re-enable debug-statements pre-commit check
  .pre-commit-config.yaml
  syncall/cli.py
  syncall/pdb_cli_utils.py
Due: isort

taskwarrior: Look for task RC file file in either ~/.taskrc or under XDG_CONFIG_HOME
  poetry.lock
  pyproject.toml
  syncall/taskwarrior/taskwarrior_side.py
  tests/test_util_methods.py
Due: isort, check-poetry

taskwarrior: Sync subprojects
  syncall/taskwarrior/taskwarrior_side.py
Due: isort

Save caldav description if this is a new item
  syncall/caldav/caldav_utils.py
Due: isort

Update readme-tw-gtasks.md - overriding the OAuth key is not required anymore
  readme-tw-gtasks.md
Due: none

Change PyYAML dependency specification
  pyproject.toml
Due: check-poetry

Update poetry.lock, fix markdown lint
  poetry.lock
  readme-tw-gtasks.md
Due: none

Enable custom TW filters + virtual tags
  poetry.lock
  pyproject.toml
  scripts/generate-shell-completions.sh
  syncall/__init__.py
  syncall/app_utils.py
  syncall/cli.py
  syncall/scripts/fs_gkeep_sync.py
  syncall/scripts/tw_asana_sync.py
  syncall/scripts/tw_caldav_sync.py
  syncall/scripts/tw_gcal_sync.py
  syncall/scripts/tw_gkeep_sync.py
  syncall/scripts/tw_gtasks_sync.py
  syncall/scripts/tw_notion_sync.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/types.py
  tests/test_app_utils.py
  tests/test_tw_asana_conversions.py
  tests/test_tw_gkeep.py
Due: isort, check-poetry
