Repository bergercookie/syncall: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-github-workflows, isort, poetry-check

check-github-workflows:
  name: Validate GitHub Workflows
  description: Validate GitHub Workflows against the schema provided by SchemaStore
  entry: check-jsonschema --builtin-schema vendor.github-workflows
  language: python

isort:
  name: Isort check
  entry: isort
  language: system
  pass_filenames: true

poetry-check:
  name: Poetry check
  entry: poetry check
  language: system
  pass_filenames: false

Correct bug in TaskwarriorSide.items_are_identical, move tw<>caldav tests to new test file
  syncall/caldav/caldav_side.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_caldav_utils.py
  tests/test_data/sample_items.yaml
  tests/test_tw_caldav_conversions.py
Due: isort

Do caldalv improvements (#129)
  docs/readme-tw-caldav.md
  poetry.lock
  pyproject.toml
  syncall/caldav/caldav_side.py
  syncall/scripts/tw_caldav_sync.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_caldav_utils.py
  tests/test_data/sample_items.yaml
  tests/test_tw_caldav_conversions.py
Due: isort, poetry-check

Amend caldav README
  docs/readme-tw-caldav.md
Due: none

Set version to 0.0.0
  pyproject.toml
Due: poetry-check

Bump gh action in the release workflow
  .github/workflows/release.yml
Due: check-github-workflows

Re-enable the poetry-dynamic-versioning plugin
  pyproject.toml
Due: poetry-check

Use lychee for link checking instead of markdown-link-check
  .pre-commit-config.yaml
Due: none

Use lychee-docker (instead of lychee) for pre-comit checks
  .pre-commit-config.yaml
Due: none

Attempt to fix 'Detected Git repository, but failed because of dubious ownership'
  .github/workflows/release.yml
Due: check-github-workflows

fix: Better handling of TW/caldav priority conversion
  syncall/tw_caldav_utils.py
  tests/test_tw_caldav_conversions.py
Due: isort

fix: Regression
  syncall/tw_caldav_utils.py
Due: isort

chore: Linting
  syncall/tw_caldav_utils.py
Due: isort

chore: More linting
  tests/test_tw_caldav_conversions.py
Due: isort

Hack together the gtasks-uncheck-all-items script
  gtasks-uncheck-all-items.py
Due: isort

obsidian: first try at having markdown items
  pyproject.toml
  syncall/cli.py
  syncall/filesystem/markdown_task_item.py
  syncall/filesystem/markdown_tasks_side.py
  syncall/scripts/md_gtasks_sync.py
Due: isort, poetry-check

Change dependency xdg (xdg-base-dirs) to pyxdg
  poetry.lock
  pyproject.toml
  syncall/taskwarrior/taskwarrior_side.py
Due: isort, poetry-check

Fix fetching from pass manager for multiline entries
  syncall/app_utils.py
  tests/test_app_utils.py
Due: isort

adding task side classes
  syncall/filesystem/markdown_task_item.py
  syncall/filesystem/markdown_tasks_side.py
Due: isort

modified all files try 1
  syncall/scripts/md_gtasks_sync.py
  syncall/tw_gtasks_utils.py
Due: isort

fixing options and attributes
  pyproject.toml
  syncall/cli.py
  syncall/filesystem/markdown_task_item.py
  syncall/filesystem/markdown_tasks_side.py
  syncall/scripts/md_gtasks_sync.py
  syncall/tw_gtasks_utils.py
Due: isort, poetry-check

added poetry.lock
  poetry.lock
Due: poetry-check

initial version of cattr support
  poetry.lock
  pyproject.toml
  syncall/cattr/cattr_side.py
  syncall/cattr/cattr_task.py
  syncall/cli.py
  syncall/scripts/tw_cattr_sync.py
  syncall/tw_cattr_utils.py
Due: isort, poetry-check

fix no priority upload
  syncall/tw_caldav_utils.py
Due: isort

[tw-caldav] Fix no priority upload
  syncall/caldav/caldav_side.py
  syncall/tw_caldav_utils.py
  tests/test_tw_caldav_conversions.py
Due: isort

Remvoe the stale issues bot
  .github/workflows/stale-issues-prs.yml
Due: check-github-workflows

chore: replace xdg for xdg-base-dirs
  .github/workflows/install-software.yml
  .github/workflows/tests.yml
  pyproject.toml
  syncall/taskwarrior/taskwarrior_side.py
Due: check-github-workflows, isort, poetry-check

BREAKING(chore): update poetry.lock
  poetry.lock
  pyproject.toml
Due: poetry-check

fix(notion): fix rich_text entry for notion
  syncall/notion/notion_todo_block.py
  tests/conftest_notion.py
Due: isort

chore: update notion client
  poetry.lock
  pyproject.toml
Due: poetry-check

almost done
  syncall/filesystem/markdown_task_item.py
  syncall/filesystem/markdown_tasks_side.py
  syncall/tw_gtasks_utils.py
Due: isort

add regex constant and cli options
  syncall/cli.py
  syncall/filesystem/markdown_task_item.py
  syncall/filesystem/markdown_tasks_side.py
  syncall/scripts/md_gtasks_sync.py
  syncall/tw_gtasks_utils.py
Due: isort

handle markdown dates with emojis
  syncall/filesystem/markdown_task_item.py
  syncall/filesystem/markdown_tasks_side.py
  syncall/scripts/md_gtasks_sync.py
  syncall/tw_gtasks_utils.py
Due: isort

fix for datetime timezone fake changes
  syncall/tw_gtasks_utils.py
Due: isort

several fixes
  syncall/filesystem/markdown_task_item.py
  syncall/filesystem/markdown_tasks_side.py
Due: isort

pickle persistent ids
  syncall/filesystem/markdown_task_item.py
  syncall/filesystem/markdown_tasks_side.py
Due: isort

improve regex code
  syncall/filesystem/markdown_task_item.py
Due: isort

add readme
  README.md
  docs/readme-md-gtasks.md
  misc/meme-md-gtasks.png
Due: none

add readme for the script
  README.md
  syncall/scripts/md_gtasks_sync.py
Due: isort

process non tasks lines properly
  syncall/filesystem/markdown_tasks_side.py
Due: isort

fix: Constraint `setuptools` to resolve `pkg_resources` error
  pyproject.toml
Due: poetry-check

Path conditions:
  check-github-workflows: any of: ^\.github/workflows/ and \.(yaml|yml)$
  isort: any of: \.py$
  poetry-check: any of: pyproject.toml|poetry.lock
