Repository bergercookie/syncall: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, check-poetry

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v3.2.0"
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        exclude: ^test/test_data/sample_items.yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      # - id: check-symlinks
      # - id: pretty-format-json
      # - id: sort-simple-yaml
  - repo: https://github.com/markdownlint/markdownlint
    rev: "v0.11.0"
    hooks:
      - id: markdownlint
        entry: mdl -r ~MD033,~MD013
  - repo: local
    hooks:
      - id: black
        name: Black formatter
        description: "Black: The uncompromising Python code formatter"
        entry: black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]
      # - id: mypy
      #   name: Mypy check
      #   entry: mypy
      #   language: system
      #   pass_filenames: true
      #   types_or: [python, pyi]
      # - id: pyright
      #   name: Pyright check
      #   entry: pyright
      #   language: system
      #   pass_filenames: true
      #   types_or: [python, pyi]
      # - id: Pylint check
      #   name: pylint
      #   entry: pylint
      #   language: system
      #   pass_filenames: true
      #   types: [python]
      #   exclude: ^tests/
      - id: isort
        name: Isort check
        entry: isort
        language: system
        pass_filenames: true
        types: [python]
      - id: check-poetry
        name: Poetry check
        description: Validates the structure of the pyproject.toml file
        entry: poetry check
        language: system
        pass_filenames: false
        files: pyproject.toml
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

asana: Add to readme
  misc/asana/authentication/1.png
  misc/asana/authentication/2.png
  misc/asana/authentication/3.png
  readme-asana.md
Due: none

Implement tw_asana_sync script:
  .github/workflows/ci.yml
  README.md
  completions/bash/tw_asana_sync.sh
  completions/fish/tw_asana_sync.fish
  completions/zsh/tw_asana_sync.sh
  poetry.lock
  pyproject.toml
  readme-asana.md
  scripts/generate-shell-completions.sh
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/asana/__init__.py
  taskwarrior_syncall/asana/asana_side.py
  taskwarrior_syncall/asana/asana_task.py
  taskwarrior_syncall/asana/utils.py
  taskwarrior_syncall/cli.py
  taskwarrior_syncall/scripts/tw_asana_sync.py
  taskwarrior_syncall/tw_asana_utils.py
  taskwarrior_syncall/types.py
  tests/test_asana_task.py
  tests/test_data/sample_items.yaml
  tests/test_tw_asana_conversions.py
Due: isort, check-poetry

Dump the help-string of tw_asana_sync to the main README
  README.md
Due: none

v1.3.0
  pyproject.toml
  taskwarrior_syncall/__init__.py
Due: isort, check-poetry

[caldav] Implement POC tw_caldav sync
  .gitignore
  poetry.lock
  pyproject.toml
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/caldav_side.py
  taskwarrior_syncall/cli.py
  taskwarrior_syncall/scripts/tw_caldav_sync.py
  taskwarrior_syncall/tw_caldav_utils.py
Due: isort, check-poetry

[caldav] Implement datetime related fields
  taskwarrior_syncall/caldav_side.py
  taskwarrior_syncall/scripts/tw_caldav_sync.py
  taskwarrior_syncall/tw_caldav_utils.py
Due: isort

[caldav] Fix formatting ics on update
  taskwarrior_syncall/caldav_side.py
  taskwarrior_syncall/tw_caldav_utils.py
Due: isort

[caldav] Added tests - fixed bugs
  taskwarrior_syncall/tw_caldav_utils.py
  tests/test_data/sample_items.yaml
  tests/test_tw_caldav_conversions.py
Due: isort

[caldav] Added completions
  completions/bash/tw_caldav_sync.sh
  completions/fish/tw_caldav_sync.fish
  completions/zsh/tw_caldav_sync.sh
  scripts/generate-shell-completions.sh
Due: none

[caldav] Removed username pass lookup
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/cli.py
  taskwarrior_syncall/scripts/tw_caldav_sync.py
Due: isort

[caldav] Updated documentation
  README.md
  readme-asana.md
  readme-caldav.md
Due: none

[caldav] Update README with fixed usage info
  README.md
  readme-caldav.md
Due: none

v1.4.0
  pyproject.toml
  syncall/__init__.py
Due: isort, check-poetry

v1.3.1
  poetry.lock
  pyproject.toml
  taskwarrior_syncall/__init__.py
Due: isort, check-poetry

v1.3.2
  pyproject.toml
  taskwarrior_syncall/__init__.py
Due: isort, check-poetry

v1.3.3
  pyproject.toml
  taskwarrior_syncall/__init__.py
Due: isort, check-poetry

Do mdl linter fixes
  .pre-commit-config.yaml
  readme-tw-notion.md
Due: none

[tw-gcal] Add an FAQ re event duration
  readme-tw-gcal.md
Due: none

[tw-gcal] Do minor correction to README
  readme-tw-gcal.md
Due: none

tw_gcal: Remove erroneous ignore_keys from Taskwarrior side
  syncall/scripts/tw_gcal_sync.py
  syncall/taskwarrior/taskwarrior_side.py
Due: isort

taskw: Make it explicit that tw is now a required extra
  syncall/scripts/tw_asana_sync.py
  syncall/scripts/tw_gcal_sync.py
  syncall/scripts/tw_gkeep_sync.py
  syncall/scripts/tw_notion_sync.py
Due: isort

Do minor clarification in README
  README.md
Due: none

[caldav] Fixing references following merger
  README.md
  pyproject.toml
  readme-caldav.md
  syncall/caldav/caldav_side.py
  syncall/scripts/tw_caldav_sync.py
Due: isort, check-poetry

Wrap-up caldav<>tw synchronisation
  .github/workflows/ci.yml
  .markdown-link-check.json
  README.md
  poetry.lock
  pyproject.toml
  readme-tw-caldav.md
  scripts/poetry-install-all-extras.sh
  syncall/aggregator.py
  syncall/app_utils.py
  syncall/caldav/caldav_side.py
  syncall/caldav/caldav_utils.py
  syncall/cli.py
  syncall/scripts/tw_caldav_sync.py
  syncall/scripts/tw_notion_sync.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_caldav_utils.py
  tests/test_data/sample_items.yaml
  tests/test_tw_caldav_conversions.py
Due: isort, check-poetry

v1.5.0
  pyproject.toml
  syncall/__init__.py
Due: isort, check-poetry

Update coveralls config
  .github/workflows/ci.yml
Due: none

tw: Set some minimum taskrc config defauls - context, twgcalsyncduration
  syncall/taskwarrior/taskwarrior_side.py
Due: isort

v1.5.1
  pyproject.toml
  syncall/__init__.py
Due: isort, check-poetry

[caldav] Adding GIF to README
  readme-tw-caldav.md
Due: none

[caldav] Upload GIF
  misc/tw_caldav_sync.gif
Due: none

[caldav] Add GIF (#71)
  misc/tw_caldav_sync.gif
  readme-tw-caldav.md
Due: none

[caldav] Add sync project in tags
  readme-tw-caldav.md
  syncall/tw_caldav_utils.py
Due: isort

Move tw_gcal tests to conftest based format
  poetry.lock
  pyproject.toml
  syncall/aggregator.py
  syncall/caldav/caldav_side.py
  syncall/caldav/caldav_utils.py
  syncall/google/gcal_side.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_caldav_utils.py
  syncall/tw_gcal_utils.py
  syncall/types.py
  tests/conftest.py
  tests/conftest_gcal.py
  tests/conftest_tw.py
  tests/test_gcal.py
  tests/test_tw_gcal.py
  tests/test_tw_gcal_conversions.py
  tests/test_tw_gkeep.py
  tests/test_tw_notion.py
Due: isort, check-poetry

[caldav] Add docs small clarification
  readme-tw-caldav.md
Due: none

[caldav] Refactor project/tag handling
  syncall/tw_caldav_utils.py
Due: isort

Fix CalDAV readme referencing nonexisting extra
  readme-tw-caldav.md
Due: none

docs: fix typo in readme
  readme-tw-caldav.md
Due: none

docs: fix typo in readme (#93)
  readme-tw-caldav.md
Due: none
