Repository bergercookie/syncall: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, check-poetry

isort:
  name: Isort check
  entry: isort
  language: system
  pass_filenames: true

check-poetry:
  name: Poetry check
  description: Validates the structure of the pyproject.toml file
  entry: poetry check
  language: system
  pass_filenames: false

v1.2.0a
  README.md
  pyproject.toml
Due: check-poetry

last pypi taskw_gcal_release
  README.md
  poetry.lock
  pyproject.toml
Due: check-poetry

Add named configurations
  .coveragerc
  .github/workflows/ci.yml
  README.md
  poetry.lock
  pyproject.toml
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/aggregator.py
  taskwarrior_syncall/app_utils.py
  taskwarrior_syncall/cli.py
  taskwarrior_syncall/constants.py
  taskwarrior_syncall/scripts/tw_gcal_sync.py
  taskwarrior_syncall/scripts/tw_notion_sync.py
  taskwarrior_syncall/utils.py
Due: isort, check-poetry

Rename tests directory - Add coverage reports
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/conftest_notion.py
  tests/conftest_tw.py
  tests/generic_test_case.py
  tests/test.taskrc
  tests/test_data/sample_items.yaml
  tests/test_notion.py
  tests/test_notion_todo_block.py
  tests/test_tasks/backlog.data
  tests/test_tasks/completed.data
  tests/test_tasks/pending.data
  tests/test_tasks/undo.data
  tests/test_tw_gcal_conversions.py
  tests/test_util_methods.py
Due: isort, check-poetry

Improve coverage
  taskwarrior_syncall/app_utils.py
  tests/conftest.py
  tests/test_app_utils.py
Due: isort

Add ignore_keys in Aggregator constructor
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/aggregator.py
  taskwarrior_syncall/app_utils.py
  taskwarrior_syncall/notion_side.py
  taskwarrior_syncall/notion_todo_block.py
  taskwarrior_syncall/scripts/tw_notion_sync.py
  taskwarrior_syncall/side_helper.py
  taskwarrior_syncall/sync_side.py
  taskwarrior_syncall/taskwarrior_side.py
Due: isort

Add app_name function, solve issue with gcal
  pyproject.toml
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/aggregator.py
  taskwarrior_syncall/app_utils.py
  taskwarrior_syncall/cli.py
  taskwarrior_syncall/scripts/tw_gcal_sync.py
  taskwarrior_syncall/scripts/tw_notion_sync.py
  taskwarrior_syncall/taskwarrior_side.py
  tests/test_app_utils.py
Due: isort, check-poetry

v1.2.0b
  pyproject.toml
Due: check-poetry

Bump bubop version
  poetry.lock
  pyproject.toml
Due: check-poetry

Add boilerplate code for gkeep
  README.md
  poetry.lock
  pyproject.toml
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/app_utils.py
  taskwarrior_syncall/cli.py
  taskwarrior_syncall/google/__init__.py
  taskwarrior_syncall/google/gcal_side.py
  taskwarrior_syncall/google/gkeep_todo_side.py
  taskwarrior_syncall/google/google_side.py
  taskwarrior_syncall/scripts/tw_gkeep_sync.py
  taskwarrior_syncall/scripts/tw_notion_sync.py
  taskwarrior_syncall/tw_gcal_utils.py
  taskwarrior_syncall/tw_gkeep_utils.py
Due: isort, check-poetry

v1.2.0b1
  pyproject.toml
Due: check-poetry

Update poetry.lock; Elaborate warning on uninstalled extra
  .github/workflows/ci.yml
  .gitignore
  poetry.lock
  pyproject.toml
  readme-gcal.md
  readme-notion.md
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/app_utils.py
  taskwarrior_syncall/cli.py
  taskwarrior_syncall/google/gcal_side.py
  taskwarrior_syncall/google/gkeep_todo_side.py
  taskwarrior_syncall/google/google_side.py
  taskwarrior_syncall/scripts/tw_gcal_sync.py
  taskwarrior_syncall/scripts/tw_notion_sync.py
  tests/conftest_gkeep.py
  tests/test_aggregator.py
Due: isort, check-poetry

v1.2.0b2
  pyproject.toml
Due: check-poetry

Fix CI
  .github/workflows/ci.yml
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/app_utils.py
  taskwarrior_syncall/scripts/tw_gcal_sync.py
  taskwarrior_syncall/scripts/tw_gkeep_sync.py
  taskwarrior_syncall/scripts/tw_notion_sync.py
  tests/test_app_utils.py
Due: isort

Have first working bi-sync version of Google Keep
  .gitignore
  README.md
  pyproject.toml
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/aggregator.py
  taskwarrior_syncall/app_utils.py
  taskwarrior_syncall/cli.py
  taskwarrior_syncall/constants.py
  taskwarrior_syncall/google/gcal_side.py
  taskwarrior_syncall/google/gkeep_todo_item.py
  taskwarrior_syncall/google/gkeep_todo_side.py
  taskwarrior_syncall/notion_side.py
  taskwarrior_syncall/notion_todo_block.py
  taskwarrior_syncall/scripts/tw_gcal_sync.py
  taskwarrior_syncall/scripts/tw_gkeep_sync.py
  taskwarrior_syncall/scripts/tw_notion_sync.py
  taskwarrior_syncall/sync_side.py
  taskwarrior_syncall/taskwarrior_side.py
  taskwarrior_syncall/tw_gkeep_utils.py
  taskwarrior_syncall/tw_notion_utils.py
  taskwarrior_syncall/types.py
  tests/conftest.py
  tests/conftest_gkeep.py
  tests/test_app_utils.py
  tests/test_gkeep.py
Due: isort, check-poetry

v1.2.0
  pyproject.toml
  taskwarrior_syncall/__init__.py
Due: isort, check-poetry

Ammend README
  README.md
Due: none

gkeep: Add credentials section
  readme-gkeep.md
Due: none

v1.2.1
  poetry.lock
  pyproject.toml
  taskwarrior_syncall/__init__.py
Due: isort, check-poetry

Add autocompletion scripts + bash script for generating them
  README.md
  completions/bash/tw_gcal_sync.sh
  completions/bash/tw_gkeep_sync.sh
  completions/bash/tw_notion_sync.sh
  completions/fish/tw_gcal_sync.fish
  completions/fish/tw_gkeep_sync.fish
  completions/fish/tw_notion_sync.fish
  completions/zsh/tw_gcal_sync.sh
  completions/zsh/tw_gkeep_sync.sh
  completions/zsh/tw_notion_sync.sh
  pyproject.toml
  scripts/generate-shell-completions.sh
Due: check-poetry

Remove old hooks/pre-commit file
  hooks/pre-commit
Due: none

v1.2.2a0
  pyproject.toml
  taskwarrior_syncall/__init__.py
Due: isort, check-poetry

generate-completions: return $? is implied in bash functions
  scripts/generate-shell-completions.sh
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Remove unused file
  .gitignore
  notion_config.toml
Due: none

Fix CI
  completions/bash/tw_gcal_sync.sh
  completions/bash/tw_gkeep_sync.sh
  completions/bash/tw_notion_sync.sh
  completions/fish/tw_gcal_sync.fish
  completions/fish/tw_gkeep_sync.fish
  completions/fish/tw_notion_sync.fish
  completions/zsh/tw_gcal_sync.sh
  completions/zsh/tw_gkeep_sync.sh
  completions/zsh/tw_notion_sync.sh
Due: none

Add contributing guide.
  CONTRIBUTING.md
  README.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .pre-commit-config.yaml
Due: none

Add link-checking
  .markdown-link-check.json
  .pre-commit-config.yaml
  README.md
  readme-gkeep.md
Due: none

Add pull_request_template.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
Due: none

Added the extra option for the github installation option
  README.md
Due: none

readme-gcal.md: update for renamed gcal extra
  readme-gcal.md
Due: none

readme-gcal.md: update for renamed gcal extra (#44)
  readme-gcal.md
Due: none

doc(readme-gcal.md): update "--gcal-secret"
  readme-gcal.md
Due: none

Do minor doc fixes
  README.md
  readme-gcal.md
  readme-gkeep.md
Due: none

Report only the build status of master branch - devel branch is deleted
  README.md
Due: none

Implement tw_asana_sync script:
  .github/workflows/ci.yml
  README.md
  completions/bash/tw_asana_sync.sh
  completions/fish/tw_asana_sync.fish
  completions/zsh/tw_asana_sync.sh
  poetry.lock
  pyproject.toml
  readme-asana.md
  scripts/generate-shell-completions.sh
  taskwarrior_syncall/__init__.py
  taskwarrior_syncall/asana/__init__.py
  taskwarrior_syncall/asana/asana_side.py
  taskwarrior_syncall/asana/asana_task.py
  taskwarrior_syncall/asana/utils.py
  taskwarrior_syncall/cli.py
  taskwarrior_syncall/scripts/tw_asana_sync.py
  taskwarrior_syncall/tw_asana_utils.py
  taskwarrior_syncall/types.py
  tests/test_asana_task.py
  tests/test_data/sample_items.yaml
  tests/test_tw_asana_conversions.py
Due: isort, check-poetry

Path conditions:
  isort: any of: \.py$
  check-poetry: any of: pyproject.toml
