Repository bergercookie/syncall: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-github-workflows, isort, poetry-check

check-github-workflows:
  name: Validate GitHub Workflows
  description: Validate GitHub Workflows against the schema provided by SchemaStore
  entry: check-jsonschema --builtin-schema vendor.github-workflows
  language: python

isort:
  name: Isort check
  entry: isort
  language: system
  pass_filenames: true

poetry-check:
  name: Poetry check
  entry: poetry check
  language: system
  pass_filenames: false

Move readme files to docs/
  README.md
  docs/combinations.md
  docs/implement-a-new-synchronization.md
  docs/readme-fs-gkeep.md
  docs/readme-tw-asana.md
  docs/readme-tw-caldav.md
  docs/readme-tw-gcal.md
  docs/readme-tw-gkeep.md
  docs/readme-tw-gtasks.md
  docs/readme-tw-notion.md
Due: none

Update pyproject.toml, poetry.lock - bump taskw-ng version
  poetry.lock
  pyproject.toml
Due: poetry-check

Add tw-filtering md page
  README.md
  docs/readme-tw-asana.md
  docs/readme-tw-caldav.md
  docs/readme-tw-gcal.md
  docs/readme-tw-gkeep.md
  docs/readme-tw-gtasks.md
  docs/readme-tw-notion.md
  docs/tw-filtering.md
Due: none

Add to tw-filtering md page
  README.md
Due: none

[MISC] Rename tw-filtering file to taskwarrior-filtering
  README.md
  docs/readme-tw-asana.md
  docs/readme-tw-caldav.md
  docs/readme-tw-gcal.md
  docs/readme-tw-gkeep.md
  docs/readme-tw-gtasks.md
  docs/readme-tw-notion.md
  docs/taskwarrior-filtering.md
Due: none

Sanity check all apps work
  syncall/cli.py
  syncall/scripts/fs_gkeep_sync.py
  syncall/scripts/tw_asana_sync.py
  syncall/scripts/tw_gkeep_sync.py
Due: isort

Bump taskw-ng version to 0.2.4
  poetry.lock
  pyproject.toml
Due: poetry-check

Re-enable the ItemSynchronizer to catch exceptions for each individual item.
  syncall/aggregator.py
Due: isort

Remove the taskw_duration file
  syncall/taskwarrior/taskw_duration.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_gcal_utils.py
Due: isort

tw_gcal: Set default for syncallduration field
  syncall/tw_gcal_utils.py
Due: isort

fs_gkeep: Correct how we fetch items from filesystem side
  syncall/filesystem/filesystem_side.py
Due: isort

Bump taskw-ng version
  poetry.lock
  pyproject.toml
Due: poetry-check

Add --confirm flag, AND the tw filters instead of OR-ing them
  docs/taskwarrior-filtering.md
  syncall/app_utils.py
  syncall/cli.py
  syncall/scripts/fs_gkeep_sync.py
  syncall/scripts/tw_asana_sync.py
  syncall/scripts/tw_caldav_sync.py
  syncall/scripts/tw_gcal_sync.py
  syncall/scripts/tw_gkeep_sync.py
  syncall/scripts/tw_gtasks_sync.py
  syncall/scripts/tw_notion_sync.py
  syncall/taskwarrior/taskwarrior_side.py
Due: isort

Correct passing the UDAs to taskw_ng.Warrior
  syncall/taskwarrior/taskwarrior_side.py
Due: isort

Update taskwarrior-filtering.md
  docs/taskwarrior-filtering.md
Due: none

docs: (caldav) fix env variable example in readme
  docs/readme-tw-caldav.md
Due: none

Add flake.nix for installing in nixos
  .gitignore
  README.md
  flake.lock
  flake.nix
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix CI
  .markdown-link-check.json
  .pre-commit-config.yaml
  docs/readme-fs-gkeep.md
  docs/readme-tw-asana.md
  docs/readme-tw-caldav.md
  docs/readme-tw-gcal.md
  docs/readme-tw-gkeep.md
  docs/readme-tw-gtasks.md
  docs/readme-tw-notion.md
Due: none

Bump taskw-ng -> 0.2.7
  poetry.lock
  pyproject.toml
Due: poetry-check

Update dependencies, fix importing issues in Python >= 3.12
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

docs: (caldav) fix env variable example in readme (#117)
  docs/readme-tw-caldav.md
Due: none

Update docs
  docs/readme-tw-gcal.md
Due: none

Refactor github workflows
  .github/workflows/ci.yml
  .github/workflows/install-software.yml
  .github/workflows/tests.yml
Due: check-github-workflows

Fix tests for py 3.12
  poetry.lock
  pyproject.toml
Due: poetry-check

Refactor CI
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/install-software.yml
  .github/workflows/linters.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-github-workflows

Refactor CI
  .github/workflows/coverage.yml
Due: check-github-workflows

Add stale-prs.yml github workflow
  .github/pull_request_template.md
  .github/workflows/stale-issues-prs.yml
Due: check-github-workflows

Add stale-prs.yml github workflow (#128)
  .github/pull_request_template.md
  .github/workflows/stale-issues-prs.yml
Due: check-github-workflows

Fix executables --version
  syncall/cli.py
Due: isort

Fix all-day events entered in Google Cal - Reduce duplication with Gtasks
  syncall/google/common.py
  syncall/google/gcal_side.py
  syncall/google/gtasks_side.py
  syncall/tw_gcal_utils.py
  syncall/tw_gtasks_utils.py
  tests/test_google_common.py
Due: isort

Add extra test case to exercise the google cal {"date": "2021-11-14"} format
  tests/test_google_common.py
Due: isort

Remove duplicate implement-a-new-synchronization document
  implement-a-new-synchronization.md
Due: none

Add google calendar integration image
  docs/readme-tw-gcal.md
  misc/meme-tw-gcal.png
  misc/meme-tw-gcal.png.svg
Due: none

Change CalDAV description format
  docs/readme-tw-caldav.md
  syncall/caldav/caldav_side.py
  syncall/caldav/caldav_utils.py
  syncall/tw_caldav_utils.py
  tests/test_data/sample_items.yaml
Due: isort

Reduce complexity in tw_caldav_utils to appease ruff
  syncall/tw_caldav_utils.py
Due: isort

New CalDAV description format (#112)
  docs/readme-tw-caldav.md
  syncall/caldav/caldav_side.py
  syncall/caldav/caldav_utils.py
  syncall/tw_caldav_utils.py
  tests/test_data/sample_items.yaml
Due: isort

Fix typo in CaldavSide
  syncall/caldav/caldav_side.py
Due: isort

Do caldalv improvements
  docs/readme-tw-caldav.md
  poetry.lock
  pyproject.toml
  syncall/caldav/caldav_side.py
  syncall/scripts/tw_caldav_sync.py
  syncall/taskwarrior/taskwarrior_side.py
  syncall/tw_caldav_utils.py
Due: isort, poetry-check

Path conditions:
  check-github-workflows: any of: ^\.github/workflows/ and \.(yaml|yml)$
  isort: any of: \.py$
  poetry-check: any of: pyproject.toml|poetry.lock
